.todo-container {
  max-width: 500px;
  margin: 0 auto;
}
.todo-container .title {
  text-align: center;
}
.button_group{
  display: flex;
  gap:10px
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.button_input{
  display: flex;
  gap:20px
}




