<body>
<div class="user-info">
  <span *ngIf="getUserData()">Welcome, {{ getUserData().username }}</span>
  <hr>
  <button mat-icon-button color="primary" (click)="logout()" *ngIf="getUserData()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="todo-container">
  <div class="language">
    <mat-form-field *rolesAllowed="['changeLanguage']">
      <mat-label>Select Language</mat-label>
      <mat-select (selectionChange)="onLanguageChange($event.value)" [value]="selectedLanguage">
        <mat-option *ngFor="let language of languages" [value]="language.key">
          {{ language.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="header">
    <input matInput placeholder="Enter titler" [(ngModel)]="searchText" *rolesAllowed="['search']">
    <button mat-mini-fab color="primary" type="submit" (click)="applyFilter()" *rolesAllowed="['search']">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="submit" routerLink="/add" *rolesAllowed="['add']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
 
  <table mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource"  >
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>{{'TODO_LIST.Title' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.value }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef>{{'TODO_LIST.CreatedOn' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.createdAt | date: 'MM-dd-yyyy HH:mm' }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{'TODO_LIST.Actions' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let item ; let i = index"  class="button_group">
        <button *rolesAllowed="['edit']" mat-mini-fab color="primary" class="button_edit" (click)="editItem(item)"><mat-icon>edit</mat-icon></button>
        <button *rolesAllowed="['delete']"  mat-mini-fab color="warn" (click)="deleteItem(item)" class="button_delete"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="['value', 'createdAt', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['value', 'createdAt', 'actions']"></mat-row>
  </table>
</div>
</body>
