<div class="todo-container">
  <h2 class="title">Add Item</h2>
  <form [formGroup]="todoForm" (ngSubmit)="addItem()">
    <div class="input_container">
      <input type="text" placeholder="Enter a new item" formControlName="newItem"
        [ngClass]="{'error': todoForm.get('newItem')?.invalid && (todoForm.get('newItem')?.touched || todoForm.get('newItem')?.dirty)  }">
      <div
        *ngIf="todoForm.get('newItem')?.invalid && (todoForm.get('newItem')?.touched || todoForm.get('newItem')?.dirty)">
        <small *ngIf="todoForm.get('newItem')?.errors?.['required']" class="error-text">
          Please enter a value
        </small>
        <small *ngIf="todoForm.get('newItem')?.errors?.['whitespace']" class="error-text">
          Invalid input
        </small>
      </div>
    </div>
    <button type="submit" [disabled]="todoForm.invalid || selectedItem !== null">
      Add
    </button>
    <button type="submit" (click)="updateItem()" [disabled]="todoForm.invalid || selectedItem === null">
      Update
    </button>
  </form>
  <h2>Todo List</h2>
  <div class="list" *ngFor="let item of listItems">
    <div class="list-item">
      <app-todo-item [title]="item"></app-todo-item>
      <div class="buttons">
        <button type="button" (click)="editItem(item)" class="button_edit">Edit</button>
        <button type="button" (click)="deleteItem(item)" class="button_delete">Delete</button>
      </div>
    </div>
  </div>
</div>