.todo-container {
    max-width: 500px;
    margin: 0 auto;
  }
  .todo-container .title {
    text-align: center;
  }

  .example-full-width {
    width: 100%;
  }
.button_input{
  display: flex;
  gap: 20px;  
}

